@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Black.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 1000px;
}

::selection {
    background-color: #fe0988;
    color: #16163c;
}

/* NAVBAR */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5rem;
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(17, 17, 17, 0.25);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.25);
    z-index: 99;
}

nav .logo {
    transition: 0.5s;
}

nav .logo:hover {
    transform: rotate(-3deg);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.link-halaman {
    font-family: 'Poppins';
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 0.5rem;
    transition: 0.5s;
}

.link-halaman.active {
    color: #fe0988;
    border-bottom: 1px solid #fe0988;
}

.link-halaman:hover {
    color: #fe0988;
}

.gradasi-horizontal {
    background: linear-gradient(to right, #fe0988, #7237bd);
    border: none;
}

.gradasi-horizontal:hover {
    background: transparent;
    box-shadow: 0 0 0 2px #ffffff;
}

/* HOMEPAGE */
.homepage {
    background-color: #111111;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.home-kiri {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sosial-media {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 7.5rem;
}

.sosial-media a {
    padding: 0.5rem;
    transition: 0.5s;
}

.sosial-media a:hover {
    scale: 1.5;
}

.panah-scroll {
    padding: 0.5rem;
    display: flex;
    gap: 0.8rem;
    writing-mode: vertical-lr;
    transition: 0.5s;
    height: 15%;
    text-decoration: none;
}

.panah-scroll:hover {
    gap: 1.5rem;
}

.panah-scroll p {
    font-family: 'Poppins';
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.05rem;
}

.home-kanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.8rem;
}

.judul-besar span {
    font-family: 'Gilroy';
    font-size: 5.5rem;
    margin: 5px;
    cursor: default;
}

.judul-besar span:hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.judul-besar span:nth-child(1) {
    animation: ubah-warna 1s ease-in-out;
}

.judul-besar span:nth-child(2) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.1s;
}

.judul-besar span:nth-child(3) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.2s;
}

.judul-besar span:nth-child(4) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.3s;
}

.judul-besar span:nth-child(5) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.4s;
}

.judul-besar span:nth-child(7) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.5s;
}

.judul-besar span:nth-child(8) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.6s;
}

.judul-besar span:nth-child(9) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.7s;
}

.judul-besar span:nth-child(10) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.8s;
}

.judul-besar span:nth-child(11) {
    animation: ubah-warna 1s ease-in-out;
    animation-delay: 0.9s;
}

.deskripsi-judul {
    font-family: 'Poppins';
    font-weight: 300;
    text-align: center;
    font-size: 0.9rem;
    width: 60%;
    line-height: 1.5rem;
}

.tombol-kontak {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    color: #ffffff;
    transition: 0.5s;
}

.transparan {
    background-color: #111111;
    border: none;
    box-shadow: 0 0 0 2px #ffffff;
}

.transparan:hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
    box-shadow: none;
}

/* definisikan animasi keyframes */
@keyframes ubah-warna {
    0% {
        color: white;
    }
    100% {
        background: linear-gradient(to right, #fe0988, #7237bd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

/* HIGHLIGHT CARD  */
.highlight-card {
    height: 100vh;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card {
    height: 27rem;
    width: 22rem;
    background-color: #16163c;
    border-radius: 1rem;
    padding: 4rem 3rem;
    box-sizing: border-box;
    color: #ffffff;
    transition: 0.5s;
}

.card:nth-child(2) {
    background: linear-gradient(to top right, #fe0988, #7237bd);
    transition: 0.5s;
}

.card:nth-child(1):hover {
    background: #fe0988;
}

.card:nth-child(2):hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
}

.card:nth-child(3):hover {
    background: #7237bd;
}

.card h2 {
    font-family: 'Gilroy';
    font-size: 2rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
}

.card p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

/* ABOUT US  */
.about-us {
    height: 100vh;
    background-color: #191c26;
}

/* PRODUCT & SERVICES  */
.product-services {
    height: 100vh;
    background-color: #111111;
    display: flex;
}

.container {
    width: 100%;
    margin: 7rem 6rem 4rem 6rem;
}

.judul-halaman {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

hr {
    width: 50px;
}

.judul-kecil {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    flex-grow: 1;
}

.judul-halaman2 {
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 3.8rem;
    padding: 1.5rem 0;
    letter-spacing: 0.1rem;
}

.judul-halaman2 span {
    color: #fe0988;
}

.deskripsi-halaman {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    width: 70%;
    line-height: 1.5rem;
}

.product-list {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
    height: 19rem;
    width: 17rem;
    background-color: #16163c;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

.product-card:nth-child(1) {
    border: 2px solid #fe0988;
}
.product-card:nth-child(2) {
    border: 2px solid #ffffff;
}
.product-card:nth-child(3) {
    border: 2px solid #7237bd;
}

.product-card:hover {
    background: linear-gradient(to top right, #fe0988, #7237bd);
    border-color: #111111;
    width: 22rem;
}

.product-icon {
    background-color: #ffffff;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    position: absolute;
    top: -10%;
    left: 37%;
}

.product-card h2 {
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 80%;
}

.product-card p {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    width: 70%;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3rem;
}

.lihat-selengkapnya {
    background-color: rgba(39, 39, 76, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 0 0 1rem 1rem;
    margin-top: 1rem;
}

.lihat-selengkapnya p {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: left;
}

/* TESTIMONIAL  */

/* TEAM */

/* CONTACT US  */

/* FOOTER  */

/* DETAIL PRODUCT & SERVICES */
.product-detail {
    height: 100%;
    background-color: #111111;
    display: flex;
}

.container-product {
    margin-top: 4rem;
}

.judul-kecil a {
    text-decoration: none;
    color: #fe0988;
    transition: 0.5s;
}

.judul-kecil a:hover {
    color: #7237bd;
}

.product-detail-list {
    padding-top: 2rem;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.product-detail-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 17.5rem;
    width: 13rem;
    padding: 1rem;
    background-color: #191c26;
    border-radius: 0.8rem;
    box-sizing: border-box;
    color: #ffffff;
    transition: 0.5s;
}

.product-detail-card:hover {
    width: 27rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.product-detail-card:hover .product-detail-image {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    width: 100%;
    height: 100%;
}

.product-detail-card:hover .product-detail-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.4rem;
}

.product-detail-card:hover .product-detail-desc {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: block;
}

.product-detail-card:hover .product-detail-price {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 1rem;
}

.product-detail-card:hover .rating {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.product-detail-card:hover .rating img {
    transform: scale(1.2);
}

.product-detail-card:hover .product-detail-button {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.product-detail-image {
    width: 11rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.product-detail-title {
    font-family: 'Gilroy';
    letter-spacing: 0.03rem;
    text-align: center;
}

.product-detail-desc {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.7rem;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    line-height: 1rem;
    display: none;
}

.product-detail-price {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.8rem;
}

.product-detail-price span {
    font-size: 0.7rem;
    opacity: 0.5;
    text-decoration: line-through;
}

.tombol-beli {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid;
    border-image: linear-gradient(to right, #fe0988, #7237bd);
    border-image-slice: 1;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.tombol-beli:hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
    border-image: none;
    border-color: transparent;
}
