@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Black.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 1000px;
}

::selection {
    background-color: #fe0988;
    color: #16163c;
}

/* NAVBAR */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5rem;
    box-sizing: border-box;
    position: fixed;
}

nav .logo {
    transition: 0.5s;
}

nav .logo:hover {
    transform: rotate(-3deg);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

nav ul li a {
    font-family: 'Poppins';
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

a:hover {
    color: #fe0988;
}

.gradasi-horizontal {
    background: linear-gradient(to right, #fe0988, #7237bd);
    border: none;
}

.gradasi-horizontal:hover {
    background: transparent;
    box-shadow: 0 0 0 2px #ffffff;
}

/* HOMEPAGE */
.homepage {
    background-color: #111111;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.home-kiri {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sosial-media {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 7.5rem;
}

.sosial-media a {
    padding: 0.5rem;
    transition: 0.5s;
}

.sosial-media a:hover {
    scale: 1.5;
}

.panah-scroll {
    padding: 0.5rem;
    display: flex;
    gap: 0.8rem;
    writing-mode: vertical-lr;
    transition: 0.5s;
    height: 15%;
    text-decoration: none;
}

.panah-scroll:hover {
    gap: 1.5rem;
}

.panah-scroll p {
    font-family: 'Poppins';
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.05rem;
}

.home-kanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.8rem;
}

.judul-besar span {
    font-family: 'Gilroy';
    font-size: 5.5rem;
    margin: 5px;
    cursor: default;
}

.judul-besar span:hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.deskripsi-judul {
    font-family: 'Poppins';
    font-weight: 300;
    text-align: center;
    font-size: 0.9rem;
    width: 60%;
    line-height: 1.5rem;
}

.tombol-kontak {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    color: #ffffff;
    transition: 0.5s;
}

.transparan {
    background-color: #111111;
    border: none;
    box-shadow: 0 0 0 2px #ffffff;
}

.transparan:hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
    box-shadow: none;
}

/* HIGHLIGHT CARD  */
.highlight-card {
    height: 100vh;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card {
    height: 27rem;
    width: 22rem;
    background-color: #16163c;
    border-radius: 1rem;
    padding: 4rem 3rem;
    box-sizing: border-box;
    color: #ffffff;
    transition: 0.5s;
}

.card:nth-child(2) {
    background: linear-gradient(to top right, #fe0988, #7237bd);
    transition: 0.5s;
}

.card:nth-child(1):hover {
    background: #fe0988;
}

.card:nth-child(2):hover {
    background: linear-gradient(to right, #fe0988, #7237bd);
}

.card:nth-child(3):hover {
    background: #7237bd;
}

.card h2 {
    font-family: 'Gilroy';
    font-size: 2rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
}

.card p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

/* ABOUT US  */
.about-us {
    height: 100vh;
    background-color: #191c26;
}

/* PRODUCT & SERVICES  */
.product-services {
    height: 100vh;
    background-color: #111111;
    display: flex;
}

.container {
    margin: 7rem 6rem 4rem 6rem;
}

.judul-halaman {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

hr {
    width: 50px;
}

.product-services h1 {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    flex-grow: 1;
}

.judul-halaman2 {
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 3.8rem;
    padding: 1.5rem 0;
    letter-spacing: 0.1rem;
}

.judul-halaman2 span {
    color: #fe0988;
}

.deskripsi-halaman {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    width: 60%;
    line-height: 1.5rem;
}

.product-list {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
    height: 19rem;
    width: 17rem;
    background-color: #16163c;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #ffffff;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

.product-card:nth-child(1) {
    border: 2px solid #fe0988;
}
.product-card:nth-child(2) {
    border: 2px solid #ffffff;
}
.product-card:nth-child(3) {
    border: 2px solid #7237bd;
}

.product-card:hover {
    background: linear-gradient(to top right, #fe0988, #7237bd);
    border-color: #111111;
    transition: 0.5s;
}

.product-icon {
    background-color: #ffffff;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    position: absolute;
    top: -10%;
    left: 37%;
}

.product-card h2 {
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 80%;
}

.product-card p {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 300;
    width: 70%;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3rem;
}

.lihat-selengkapnya {
    background-color: rgba(39, 39, 76, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 0 0 1rem 1rem;
    margin-top: 1rem;
}

.lihat-selengkapnya p {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: left;
}

/* TESTIMONIAL  */

/* TEAM */

/* CONTACT US  */

/* FOOTER  */

/* DETAIL PRODUCT & SERVICES */
